.dropdown {
  max-width: 1023px;
  min-height: 52px;
  border-radius: 5px;
  background: #FF6060;
  margin: 25px 0px 26px 0px;

}

.dropdown p {

  margin: 10px;
}

.dropdownContainer {


  padding-top: 17px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.dropdownTitle {
  color: white;

}

.toggle {
  border: unset;
  background: none;
  transition: transform 300ms ease-in-out;

}

.toggle.rotate {
  transform: rotate(-180deg);
}

.content {
  background-color: #F6F6F6;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 0.3s ease 0.3s; 
}

.content.show {
  height: auto;
  max-height: 500px; 
  opacity: 1;
}