.dropdown {
  max-width: 1023px;
  min-height: 52px;
  border-radius: 5px;
  background: #FF6060;
  margin: 25px 0px 26px 0px;
  
}
.dropdown p{

margin: 10px;
  }

.dropdown-container {
  

  // margin-top: 50px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.dropdown-title {
  color: white;

}

.toggle {
  border: unset;
  background: none;
  transition: transform 300ms ease-in-out; 

}

.toggle.rotate {
  transform: rotate(-180deg); 
}

.content {
  background-color: #F6F6F6;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  height: 0px;
  transition: height ease 0.3s;
}

.content.show {
  margin-top: 25px;
  height: auto;
  
}

@media screen and (max-width: 860px) {
  .dropdown {

    margin: 25px 0px 26px 0px;
    
  }
}