a {
  text-decoration: none;
}

.main_Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.apartment-cards-container {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #D3D3D3;
  border-radius: 25px;
}

.apartment-card {
  position: relative;
  max-width: calc(30% - 40px); /* Set the maximum width for 3 cards per row */
  width: 100%;
  padding-top:30px;
  padding-bottom: 30px;
  text-align: center;
  margin: 30px; 
}

.apartment-card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.apartment-card h2 {
  font-size: 16px;
  color: white;
}

.card-content {
  height: 260px;
  background-color: #FF6060;
}

.apartment-card .title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 35px 10px;
  font-size: 18px;
  color: white;
}
